In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("hepatit-c-data.csv")
dataset.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [3]:
dataset.describe()

,Unnamed: 0,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
count,615.000000,615.000000,614.000000,597.000000,614.000000,615.000000,615.000000,615.000000,605.000000,615.000000,615.000000,614.000000
mean,308.000000,47.408130,41.620195,68.283920,28.450814,34.786341,11.396748,8.196634,5.368099,81.287805,39.533171,72.044137
std,177.679487,10.055105,5.780629,26.028315,25.469689,33.090690,19.673150,2.205657,1.132728,49.756166,54.661071,5.402636
min,1.000000,19.000000,14.900000,11.300000,0.900000,10.600000,0.800000,1.420000,1.430000,8.000000,4.500000,44.800000
25%,154.500000,39.000000,38.800000,52.500000,16.400000,21.600000,5.300000,6.935000,4.610000,67.000000,15.700000,69.300000
50%,308.000000,47.000000,41.950000,66.200000,23.000000,25.900000,7.300000,8.260000,5.300000,77.000000,23.300000,72.200000
75%,461.500000,54.000000,45.200000,80.100000,33.075000,32.900000,11.200000,9.590000,6.060000,88.000000,40.200000,75.400000
max,615.000000,77.000000,82.200000,416.600000,325.300000,324.000000,254.000000,16.410000,9.670000,1079.100000,650.900000,90.000000

In [4]:
dataset.isnull().any()

Unnamed: 0    False
Category      False
Age           False
Sex           False
ALB            True
ALP            True
ALT            True
AST           False
BIL           False
CHE           False
CHOL           True
CREA          False
GGT           False
PROT           True
dtype: bool

In [5]:
dataset["ALB"] = dataset["ALB"].fillna(dataset["ALB"].mean())
dataset["ALP"] = dataset["ALP"].fillna(dataset["ALP"].mean())
dataset["ALT"] = dataset["ALT"].fillna(dataset["ALT"].mean())
dataset["CHOL"] = dataset["CHOL"].fillna(dataset["CHOL"].mean())
dataset["PROT"] = dataset["PROT"].fillna(dataset["PROT"].mean())

In [6]:
dataset.isnull().any()

Unnamed: 0    False
Category      False
Age           False
Sex           False
ALB           False
ALP           False
ALT           False
AST           False
BIL           False
CHE           False
CHOL          False
CREA          False
GGT           False
PROT          False
dtype: bool

In [7]:
dataset = dataset.drop("Unnamed: 0",axis=1)

In [8]:
dataset["Category"].unique()

array(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis',
       '2=Fibrosis', '3=Cirrhosis'], dtype=object)

In [9]:
dataset["Category"] = dataset["Category"].replace("0=Blood Donor",0)
dataset["Category"] = dataset["Category"].replace("1=Hepatitis",1)
dataset["Category"] = dataset["Category"].replace("2=Fibrosis",2)
dataset["Category"] = dataset["Category"].replace("3=Cirrhosis",3)
dataset["Category"] = dataset["Category"].replace("0s=suspect Blood Donor",4)

dataset["Sex"] = dataset["Sex"].replace("m",0)
dataset["Sex"] = dataset["Sex"].replace("f",1)

In [10]:
dataset.dtypes

Category      int64
Age           int64
Sex           int64
ALB         float64
ALP         float64
ALT         float64
AST         float64
BIL         float64
CHE         float64
CHOL        float64
CREA        float64
GGT         float64
PROT        float64
dtype: object

In [11]:
print("----------------Mean---------------\n",dataset.mean(),"\n---------------------------------------")
print("----------------Median---------------\n",dataset.median(),"\n---------------------------------------")
print("----------------Standard deviation---------------\n",dataset.std(),"\n---------------------------------------")

----------------Mean---------------
 Category     0.299187
Age         47.408130
Sex          0.386992
ALB         41.620195
ALP         68.283920
ALT         28.450814
AST         34.786341
BIL         11.396748
CHE          8.196634
CHOL         5.368099
CREA        81.287805
GGT         39.533171
PROT        72.044137
dtype: float64
---------------------------------------
----------------Median---------------
 Category     0.00
Age         47.00
Sex          0.00
ALB         41.90
ALP         66.70
ALT         23.00
AST         25.90
BIL          7.30
CHE          8.26
CHOL         5.31
CREA        77.00
GGT         23.30
PROT        72.20
dtype: float64
---------------------------------------
----------------Standard deviation---------------
 Category     0.841657
Age         10.055105
Sex          0.487458
ALB          5.775920
ALP         25.643955
ALT         25.448940
AST         33.090690
BIL         19.673150
CHE          2.205657
CHOL         1.123466
CREA        49.756166
GGT         54.661071
PROT         5.398234
dtype: float64
---------------------------------------

In [12]:
dataset.groupby('Category').mean()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
Category,,,,,,,,,,,,
0,47.131332,0.403377,42.238274,68.365103,26.631520,26.549156,8.527580,8.398086,5.492658,78.977486,29.036773,72.111257
1,38.708333,0.166667,43.833333,45.385490,26.964617,75.733333,15.625000,9.283750,5.099167,73.958333,92.579167,74.700000
2,52.333333,0.380952,41.761905,50.888346,59.600000,81.171429,13.428571,8.334762,4.632290,73.490476,79.552381,76.100000
3,53.466667,0.333333,32.787340,88.233451,22.970000,107.456667,59.133333,3.818333,4.099207,138.223333,129.440000,70.118138
4,57.571429,0.142857,24.400000,107.300000,102.114286,71.000000,4.685714,7.480000,4.451429,61.714286,151.514286,53.914286

In [13]:
X = dataset.drop("Category",axis=1)
Y = dataset["Category"]

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [16]:
lr = LogisticRegression()
knn = KNeighborsClassifier()
svm = svm.SVC()
nb = GaussianNB()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [17]:
def logistic_regression_model():
    lr.fit(x_train,y_train)
    lr_predict = lr.predict(x_test)
    
    print("Training accuracy of logistic regression ",lr.score(x_train,y_train))
    print("Testing accuracy of logistic regression ",lr.score(x_test,y_test))
    print("Prediction accuracy of logistic regression ",accuracy_score(y_test,lr_predict))
    print()

In [18]:
def knn_classifier_model():
    knn.fit(x_train,y_train)
    knn_predict = knn.predict(x_test)
    
    print("Training accuracy of KNN ",knn.score(x_train,y_train))
    print("Testing accuracy of KNN ",knn.score(x_test,y_test))
    print("Prediction accuracy of KNN ",accuracy_score(y_test,knn_predict))
    print()

In [19]:
def svm_model():
    svm.fit(x_train,y_train)
    svm_predict = svm.predict(x_test)
    
    print("Training accuracy of SVM ",svm.score(x_train,y_train))
    print("Testing accuracy of SVM ",svm.score(x_test,y_test))
    print("Prediction accuracy of SVM ",accuracy_score(y_test,svm_predict))
    print()

In [20]:
def naive_bayes_model():
    nb.fit(x_train,y_train)
    nb_predict = nb.predict(x_test)
    
    print("Training accuracy of naive bayes ",nb.score(x_train,y_train))
    print("Testing accuracy of naive bayes ",nb.score(x_test,y_test))
    print("Prediction accuracy of naive bayes ",accuracy_score(y_test,nb_predict))
    print()

In [21]:
def decision_tree_model():
    dt.fit(x_train,y_train)
    dt_predict = dt.predict(x_test)
    
    print("Training accuracy of decision tree ",dt.score(x_train,y_train))
    print("Testing accuracy of decision tree",dt.score(x_test,y_test))
    print("Prediction accuracy of decision tree ",accuracy_score(y_test,dt_predict))
    print()

In [22]:
def random_forest_model():
    rf.fit(x_train,y_train)
    rf_predict = rf.predict(x_test)
    
    print("Training accuracy of random forest ",rf.score(x_train,y_train))
    print("Testing accuracy of random forest ",rf.score(x_test,y_test))
    print("Prediction accuracy of random forest ",accuracy_score(y_test,rf_predict))

In [23]:
test_size=[0.2,0.3,0.4]
for i in test_size:
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=i,random_state=7)
    
    print(("Accuracy score For test size = "+str(i*100)+"%").center(60))
    print("------------------------------------------------------------")
    logistic_regression_model()
    knn_classifier_model()
    svm_model()
    naive_bayes_model()
    decision_tree_model()
    random_forest_model()
    print("------------------------------------------------------------")
    print()

            Accuracy score For test size = 20.0%
------------------------------------------------------------
Training accuracy of logistic regression  0.9512195121951219
Testing accuracy of logistic regression  0.943089430894309
Prediction accuracy of logistic regression  0.943089430894309

Training accuracy of KNN  0.9247967479674797
Testing accuracy of KNN  0.8943089430894309
Prediction accuracy of KNN  0.8943089430894309

Training accuracy of SVM  0.9654471544715447
Testing accuracy of SVM  0.9105691056910569
Prediction accuracy of SVM  0.9105691056910569

Training accuracy of naive bayes  0.9126016260162602
Testing accuracy of naive bayes  0.926829268292683
Prediction accuracy of naive bayes  0.926829268292683

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 0.9105691056910569
Prediction accuracy of decision tree  0.9105691056910569

Training accuracy of random forest  1.0
Testing accuracy of random forest  0.9349593495934959
Prediction accuracy of random forest  0.9349593495934959
------------------------------------------------------------

            Accuracy score For test size = 30.0%
------------------------------------------------------------
Training accuracy of logistic regression  0.9534883720930233
Testing accuracy of logistic regression  0.9297297297297298
Prediction accuracy of logistic regression  0.9297297297297298

Training accuracy of KNN  0.9209302325581395
Testing accuracy of KNN  0.9027027027027027
Prediction accuracy of KNN  0.9027027027027027

Training accuracy of SVM  0.9604651162790697
Testing accuracy of SVM  0.918918918918919
Prediction accuracy of SVM  0.918918918918919

Training accuracy of naive bayes  0.9116279069767442
Testing accuracy of naive bayes  0.9135135135135135
Prediction accuracy of naive bayes  0.9135135135135135

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 0.918918918918919
Prediction accuracy of decision tree  0.918918918918919

Training accuracy of random forest  1.0
Testing accuracy of random forest  0.918918918918919
Prediction accuracy of random forest  0.918918918918919
------------------------------------------------------------

            Accuracy score For test size = 40.0%
------------------------------------------------------------
Training accuracy of logistic regression  0.9539295392953929
Testing accuracy of logistic regression  0.9349593495934959
Prediction accuracy of logistic regression  0.9349593495934959

Training accuracy of KNN  0.907859078590786
Testing accuracy of KNN  0.9105691056910569
Prediction accuracy of KNN  0.9105691056910569

Training accuracy of SVM  0.9566395663956639
Testing accuracy of SVM  0.8983739837398373
Prediction accuracy of SVM  0.8983739837398373

Training accuracy of naive bayes  0.924119241192412
Testing accuracy of naive bayes  0.9146341463414634
Prediction accuracy of naive bayes  0.9146341463414634

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 0.926829268292683
Prediction accuracy of decision tree  0.926829268292683

Training accuracy of random forest  1.0
Testing accuracy of random forest  0.9390243902439024
Prediction accuracy of random forest  0.9390243902439024
------------------------------------------------------------

In [24]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.4,random_state=7)
decision_tree_model()

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 0.9308943089430894
Prediction accuracy of decision tree  0.9308943089430894

In [25]:
test_input = [[52,0,41.76,50.88,59.6,81.17,13.42,8.33,4.63,73.49,79.55,76.1]]
std_input = scaler.transform(test_input)

print(dt.predict(std_input))

[2]

In [26]:
import pickle
pickle.dump(dt,open('hepatitis_dt_model.pkl','wb'))