In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("./kidney_disease.csv")
dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [3]:
dataset = dataset.drop_duplicates()

In [4]:
dataset = dataset.dropna(subset = ['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane'])

In [5]:
dataset.isnull().any()

id                False
age                True
bp                 True
sg                 True
al                 True
su                 True
rbc               False
pc                False
pcc               False
ba                False
bgr                True
bu                 True
sc                 True
sod                True
pot                True
hemo               True
pcv                True
wc                 True
rc                 True
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [6]:
dataset['age'] = dataset['age'].fillna(int(dataset['age'].mean()))
dataset['bp'] = dataset['bp'].fillna(int(dataset['bp'].mean()))
dataset['sg'] = dataset['sg'].fillna(dataset['sg'].mean())
dataset['al'] = dataset['al'].fillna(int(dataset['al'].mean()))
dataset['su'] = dataset['su'].fillna(int(dataset['su'].mean()))
dataset['bgr'] = dataset['bgr'].fillna(int(dataset['bgr'].mean()))
dataset['bu'] = dataset['bu'].fillna(int(dataset['bu'].mean()))
dataset['sc'] = dataset['sc'].fillna((dataset['sc'].mean()))
dataset['sod'] = dataset['sod'].fillna(int(dataset['sod'].mean()))
dataset['pot'] = dataset['pot'].fillna((dataset['pot'].mean()))
dataset['hemo'] = dataset['hemo'].fillna((dataset['hemo'].mean()))
dataset['pcv'] = dataset['pcv'].fillna(int(dataset['pcv'].mean()))
dataset['wc'] = dataset['wc'].fillna(int(dataset['wc'].mean()))
dataset['rc'] = dataset['rc'].fillna(int(dataset['rc'].mean()))

In [7]:
dataset.isnull().any()

id                False
age               False
bp                False
sg                False
al                False
su                False
rbc               False
pc                False
pcc               False
ba                False
bgr               False
bu                False
sc                False
sod               False
pot               False
hemo              False
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [8]:
# 'rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane','classification'
print(dataset['rbc'].unique())
print(dataset['pc'].unique())
print(dataset['pcc'].unique())
print(dataset['ba'].unique())
print(dataset['htn'].unique())
print(dataset['dm'].unique())
print(dataset['cad'].unique())
print(dataset['appet'].unique())
print(dataset['pe'].unique())
print(dataset['ane'].unique())
print(dataset['classification'].unique())

['normal' 'abnormal']
['normal' 'abnormal']
['notpresent' 'present']
['notpresent' 'present']
['no' 'yes']
['yes' 'no']
['no' 'yes' '\tno']
['poor' 'good']
['no' 'yes']
['yes' 'no']
['ckd' 'ckd\t' 'notckd']

In [9]:
dataset['rbc'] = dataset['rbc'].replace('normal',0)
dataset['rbc'] = dataset['rbc'].replace('abnormal',1)

dataset['pc'] = dataset['pc'].replace('normal',0)
dataset['pc'] = dataset['pc'].replace('abnormal',1)

dataset['pcc'] = dataset['pcc'].replace('notpresent',0)
dataset['pcc'] = dataset['pcc'].replace('present',1)

dataset['ba'] = dataset['ba'].replace('notpresent',0)
dataset['ba'] = dataset['ba'].replace('present',1)

dataset['htn'] = dataset['htn'].replace('no',0)
dataset['htn'] = dataset['htn'].replace('yes',1)

dataset['dm'] = dataset['dm'].replace('no',0)
dataset['dm'] = dataset['dm'].replace('yes',1)

dataset['cad'] = dataset['cad'].replace('no',0)
dataset['cad'] = dataset['cad'].replace('\tno',0)
dataset['cad'] = dataset['cad'].replace('yes',1)

dataset['appet'] = dataset['appet'].replace('good',0)
dataset['appet'] = dataset['appet'].replace('poor',1)

dataset['pe'] = dataset['pe'].replace('no',0)
dataset['pe'] = dataset['pe'].replace('yes',1)

dataset['ane'] = dataset['ane'].replace('no',0)
dataset['ane'] = dataset['ane'].replace('yes',1)

dataset['classification'] = dataset['classification'].replace('notckd',0)
dataset['classification'] = dataset['classification'].replace('ckd',1)
dataset['classification'] = dataset['classification'].replace('ckd\t',1)

In [10]:
print(dataset['rbc'].unique())
print(dataset['pc'].unique())
print(dataset['pcc'].unique())
print(dataset['ba'].unique())
print(dataset['htn'].unique())
print(dataset['dm'].unique())
print(dataset['cad'].unique())
print(dataset['appet'].unique())
print(dataset['pe'].unique())
print(dataset['ane'].unique())
print(dataset['classification'].unique())

[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[1 0]
[1 0]

In [11]:
dataset.describe()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
count,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,...,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000
mean,242.120172,48.828326,75.021459,1.018750,1.055794,0.321888,0.193133,0.248927,0.120172,0.072961,...,40.351931,8388.703863,4.693991,0.261803,0.218884,0.068670,0.171674,0.175966,0.128755,0.420601
std,114.901469,16.710147,11.656893,0.005738,1.438801,0.930467,0.395606,0.433322,0.325862,0.260633,...,8.903976,2936.083079,0.973555,0.440562,0.414380,0.253436,0.377909,0.381611,0.335650,0.494718
min,2.000000,2.000000,50.000000,1.005000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.000000,2200.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,154.000000,38.000000,70.000000,1.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,35.000000,6700.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,269.000000,50.000000,75.000000,1.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,41.000000,8388.000000,4.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,338.000000,61.000000,80.000000,1.025000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,47.000000,9500.000000,5.400000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,399.000000,83.000000,110.000000,1.025000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,...,54.000000,26400.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
print("----------------Mean---------------\n",dataset.mean(),"\n---------------------------------------")
print("----------------Median---------------\n",dataset.median(),"\n---------------------------------------")
print("----------------Standard deviation---------------\n",dataset.std(),"\n---------------------------------------")

----------------Mean---------------
 id                 242.120172
age                 48.828326
bp                  75.021459
sg                   1.018750
al                   1.055794
su                   0.321888
rbc                  0.193133
pc                   0.248927
pcc                  0.120172
ba                   0.072961
bgr                139.523605
bu                  57.009013
sc                   2.649554
sod                138.459227
pot                  4.748020
hemo                13.150467
pcv                 40.351931
wc                8388.703863
rc                   4.693991
htn                  0.261803
dm                   0.218884
cad                  0.068670
appet                0.171674
pe                   0.175966
ane                  0.128755
classification       0.420601
dtype: float64
---------------------------------------
----------------Median---------------
 id                 269.00
age                 50.00
bp                  75.00
sg                   1.02
al                   0.00
su                   0.00
rbc                  0.00
pc                   0.00
pcc                  0.00
ba                   0.00
bgr                122.00
bu                  41.00
sc                   1.20
sod                138.00
pot                  4.70
hemo                13.60
pcv                 41.00
wc                8388.00
rc                   4.70
htn                  0.00
dm                   0.00
cad                  0.00
appet                0.00
pe                   0.00
ane                  0.00
classification       0.00
dtype: float64
---------------------------------------
----------------Standard deviation---------------
 id                 114.901469
age                 16.710147
bp                  11.656893
sg                   0.005738
al                   1.438801
su                   0.930467
rbc                  0.395606
pc                   0.433322
pcc                  0.325862
ba                   0.260633
bgr                 69.540057
bu                  54.439178
sc                   3.920723
sod                  7.058824
pot                  3.657058
hemo                 2.901764
pcv                  8.903976
wc                2936.083079
rc                   0.973555
htn                  0.440562
dm                   0.414380
cad                  0.253436
appet                0.377909
pe                   0.381611
ane                  0.335650
classification       0.494718
dtype: float64
---------------------------------------

In [14]:
dataset.groupby('classification').mean()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
classification,,,,,,,,,,,,,,,,,,,,,
0,325.985185,45.940741,71.740741,1.022398,0.007407,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.086314,46.140741,7694.933333,5.287407,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,126.591837,52.806122,79.540816,1.013724,2.500000,0.765306,0.459184,0.591837,0.285714,0.173469,...,10.483740,32.377551,9344.408163,3.876531,0.622449,0.520408,0.163265,0.408163,0.418367,0.306122

In [15]:
X = dataset.drop(columns=['id',"classification"])
Y = dataset["classification"]

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [19]:
lr = LogisticRegression()
knn = KNeighborsClassifier()
svm = svm.SVC()
nb = GaussianNB()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [20]:
def logistic_regression_model():
    lr.fit(x_train,y_train)
    lr_predict = lr.predict(x_test)
    
    print("Training accuracy of logistic regression ",lr.score(x_train,y_train))
    print("Testing accuracy of logistic regression ",lr.score(x_test,y_test))
    print("Prediction accuracy of logistic regression ",accuracy_score(y_test,lr_predict))
    print()

In [21]:
def knn_classifier_model():
    knn.fit(x_train,y_train)
    knn_predict = knn.predict(x_test)
    
    print("Training accuracy of KNN ",knn.score(x_train,y_train))
    print("Testing accuracy of KNN ",knn.score(x_test,y_test))
    print("Prediction accuracy of KNN ",accuracy_score(y_test,knn_predict))
    print()

In [22]:
def svm_model():
    svm.fit(x_train,y_train)
    svm_predict = svm.predict(x_test)
    
    print("Training accuracy of SVM ",svm.score(x_train,y_train))
    print("Testing accuracy of SVM ",svm.score(x_test,y_test))
    print("Prediction accuracy of SVM ",accuracy_score(y_test,svm_predict))
    print()

In [23]:
def naive_bayes_model():
    nb.fit(x_train,y_train)
    nb_predict = nb.predict(x_test)
    
    print("Training accuracy of naive bayes ",nb.score(x_train,y_train))
    print("Testing accuracy of naive bayes ",nb.score(x_test,y_test))
    print("Prediction accuracy of naive bayes ",accuracy_score(y_test,nb_predict))
    print()

In [24]:
def decision_tree_model():
    dt.fit(x_train,y_train)
    dt_predict = dt.predict(x_test)
    
    print("Training accuracy of decision tree ",dt.score(x_train,y_train))
    print("Testing accuracy of decision tree",dt.score(x_test,y_test))
    print("Prediction accuracy of decision tree ",accuracy_score(y_test,dt_predict))
    print()

In [25]:
def random_forest_model():
    rf.fit(x_train,y_train)
    rf_predict = rf.predict(x_test)
    
    print("Training accuracy of random forest ",rf.score(x_train,y_train))
    print("Testing accuracy of random forest ",rf.score(x_test,y_test))
    print("Prediction accuracy of random forest ",accuracy_score(y_test,rf_predict))

In [26]:
test_size=[0.2,0.3,0.4]
for i in test_size:
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=i,random_state=7)
    
    print(("Accuracy score For test size = "+str(i*100)+"%").center(60))
    print("------------------------------------------------------------")
    logistic_regression_model()
    knn_classifier_model()
    svm_model()
    naive_bayes_model()
    decision_tree_model()
    random_forest_model()
    print("------------------------------------------------------------")
    print()

            Accuracy score For test size = 20.0%
------------------------------------------------------------
Training accuracy of logistic regression  1.0
Testing accuracy of logistic regression  1.0
Prediction accuracy of logistic regression  1.0

Training accuracy of KNN  0.9623655913978495
Testing accuracy of KNN  0.9574468085106383
Prediction accuracy of KNN  0.9574468085106383

Training accuracy of SVM  1.0
Testing accuracy of SVM  1.0
Prediction accuracy of SVM  1.0

Training accuracy of naive bayes  1.0
Testing accuracy of naive bayes  1.0
Prediction accuracy of naive bayes  1.0

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 1.0
Prediction accuracy of decision tree  1.0

Training accuracy of random forest  1.0
Testing accuracy of random forest  1.0
Prediction accuracy of random forest  1.0
------------------------------------------------------------

            Accuracy score For test size = 30.0%
------------------------------------------------------------
Training accuracy of logistic regression  1.0
Testing accuracy of logistic regression  1.0
Prediction accuracy of logistic regression  1.0

Training accuracy of KNN  0.9631901840490797
Testing accuracy of KNN  0.9428571428571428
Prediction accuracy of KNN  0.9428571428571428

Training accuracy of SVM  1.0
Testing accuracy of SVM  1.0
Prediction accuracy of SVM  1.0

Training accuracy of naive bayes  1.0
Testing accuracy of naive bayes  1.0
Prediction accuracy of naive bayes  1.0

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 1.0
Prediction accuracy of decision tree  1.0

Training accuracy of random forest  1.0
Testing accuracy of random forest  1.0
Prediction accuracy of random forest  1.0
------------------------------------------------------------

            Accuracy score For test size = 40.0%
------------------------------------------------------------
Training accuracy of logistic regression  1.0
Testing accuracy of logistic regression  0.9893617021276596
Prediction accuracy of logistic regression  0.9893617021276596

Training accuracy of KNN  0.9712230215827338
Testing accuracy of KNN  0.925531914893617
Prediction accuracy of KNN  0.925531914893617

Training accuracy of SVM  1.0
Testing accuracy of SVM  1.0
Prediction accuracy of SVM  1.0

Training accuracy of naive bayes  1.0
Testing accuracy of naive bayes  0.9893617021276596
Prediction accuracy of naive bayes  0.9893617021276596

Training accuracy of decision tree  1.0
Testing accuracy of decision tree 0.9787234042553191
Prediction accuracy of decision tree  0.9787234042553191

Training accuracy of random forest  1.0
Testing accuracy of random forest  0.9893617021276596
Prediction accuracy of random forest  0.9893617021276596
------------------------------------------------------------

In [28]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=7)
dt.fit(x_train,y_train)
dt_predict = dt.predict(x_test)
    
print("Training accuracy of decisico tree ",dt.score(x_train,y_train))
print("Testing accuracy of decision tree ",dt.score(x_test,y_test))
print("Prediction accuracy of decision tree",accuracy_score(y_test,dt_predict))

Training accuracy of decisico tree  1.0
Testing accuracy of decision tree  1.0
Prediction accuracy of decision tree 1.0

In [29]:
test_input = [[7,50,1.02,4,0,1,0,0,0,120,18,0.8,111,2.5,11.3,38,6000,3.9,0,0,0,0,0,0]]
std_input = scaler.transform(test_input)

print(dt.predict(std_input))

[1]

In [30]:
import pickle
pickle.dump(dt,open('ckd_dt_model.pkl','wb'))